* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(250, 250, 239);
}

header {
    display: flex;
    background-color: #004A9F;
    color: rgb(250, 250, 239);
    height: 80px;
    align-items: center;
    position: relative;
    justify-content: center;
}

header h1 {
    position: relative;
}

.navegacao {
    position: absolute;
    right: 30px;
    display: flex;
    gap: 35px;
    margin-right: 100px;
}

.navegacao a {
    color: rgb(250, 250, 239);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navegacao a:hover {
    color: #87b0df;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    width: 100%;
    background-color: rgb(250, 250, 239);
    height: 300px; 
    border-radius: 10px;
    align-items: center;
}

.vertentes {
    display: flex;
    background-color: #004A9F;
    color: rgb(250, 250, 239);
    height: 250px;
    align-items: center;
    justify-content: center;
    width: 200px;
    border-radius: 10px;
    transition: transform 0.4s ease;
    overflow: hidden;
}

.vertentes img { 
    width: 170px;
    height: 225px;
    border-radius: 10px;
    object-fit: cover;
 }

.vertentes img:hover {
    transform: scale(1.2);
}

.imagem-inbrape {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.imagem-inbrape .img-ibp {
    width: auto;
    height: 200px;
}

.mid-text {
    margin-top: 60px;
    width: 100%;
    height: 200px;
    background-color: rgb(250, 250, 239);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 300px;
}

.sobre {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre h1{
    margin-bottom: 20px;
    color: #004A9F;
}

.especificacoes{
    display: flex;
    width: 500px;
    height: 300px;
    background-color:  #004A9F;
    border-radius: 10px;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.especificacoes h3 {
    font-size: 22px;
    margin-top: 15px;
    color: rgb(250, 250, 239); 
}

.vantagens{
    display: flex;
    justify-content: center;
    background-color: rgb(126, 228, 126);
    width: 180px;
    height: 195px;
    border-radius: 10px;
    transition: transform 0.4s ease;
    flex-direction: column;
}

.vantagens:hover {
    background-color: rgb(4, 165, 4);
    transform: scale(1.1);
    color: white;
}

.vantagens h2, .desvantagens h2{
    margin-top: 10px;
    
}

.desvantagens {
    display: flex;
    justify-content: center;
    background-color: rgb(252, 86, 86);
    width: 180px;
    height: 195px;
    border-radius: 10px;
    transition: transform 0.4s ease;
}

.desvantagens:hover {
    color: white;
    background-color: rgb(250, 36, 36);
    transform: scale(1.05);
}

.especificacoes-vilain {
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
    align-items: center;
    width: 100%;
    margin-top: 10px;
}