* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    width: 80%;
    padding: 20px;
    background-color: rgb(43, 129, 228);
    color: white;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    gap: 30px;
}

.hidden {
    display: none;
}

#mensagem {
    background-color: #87b0df;
    margin-top: 15px;
    font-size: 18px;
    color: #333;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
}