* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    background-color: #004A9F;
    color: rgb(250, 250, 239);
    height: 80px;
    align-items: center;
    position: relative;
    justify-content: center;
    margin-bottom: 100px;
}

header h1 {
    position: relative;
}

.navegacao {
    position: absolute;
    right: 30px;
    display: flex;
    gap: 35px;
    margin-right: 100px;
}

.navegacao a {
    color: rgb(250, 250, 239);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navegacao a:hover {
    color: #87b0df;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.esconder-botao {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(43, 129, 228);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .esconder-botao:hover {
    background-color: #004A9F;
  }

.box {
    margin-top: 100px;
    width: 50%;
    padding: 20px;
    background-color: rgb(43, 129, 228);
    color: white;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.box:hover {
background-color: #004A9F;
    
}

.box h1 {
    margin-bottom: 10px;
}

.hidden {
    display: none !important;
}

.mensagem {
    background-color: #87b0df;
    margin-top: 15px;
    font-size: 18px;
    color: #333;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
}

footer {
    margin-top: 150px;
    background: #138dbd;
    background: linear-gradient(0deg,rgba(19, 141, 189, 1) 4%, rgba(63, 139, 186, 1) 22%, rgba(255, 255, 255, 1) 100%);
    min-height: auto;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
}

.contato {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logos_numeros {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
}

.logos_numeros img{
    width: 30px;
}

.professor {  
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.professor img {
    width: 200px;
    border-radius: 47%;
    border: #012f64 dashed;
}
