* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

header {
  display: flex;
  background-color: #004a9f;
  color: rgb(250, 250, 239);
  height: 80px;
  align-items: center;
  position: relative;
  justify-content: center;
}

header h1 {
  position: relative;
}

.navegacao {
  position: absolute;
  right: 30px;
  display: flex;
  gap: 35px;
  margin-right: 100px;
}

.navegacao a {
  color: rgb(250, 250, 239);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navegacao a:hover {
  color: #87b0df;
}

main {
  background-color: rgb(240, 248, 255);
  flex: 1;
  padding: 48px 20px;
  width: 100%;
}

about-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

about-section .img {
  display: flex;
  justify-content: center;
  align-items: center;
}

about-section .img img {
  margin-right: 100px;
  height: 350px;
  border-radius: 25px;
  margin-bottom: 100px;
}

about-section .texto {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 90%;
  margin-right: 100px;
  max-width: 900px;
  padding: 40px 20px;
  border-radius: 12px;
}

.img {
}

hobbies,
contact {
  display: block;
  background-color: rgb(255, 255, 255);
  width: 90%;
  max-width: 900px;
  margin: 0 auto 40px auto;
  padding: 40px 20px;
  border-radius: 12px;
}

#titulo-sobre-mim,
#titulo-meus-hobbies {
  font-size: 2rem;
  border-bottom: 2px solid rgb(43, 129, 228);
  margin-bottom: 20px;
  padding-bottom: 8px;
}

.texto-sobre-mim {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: justify;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

li {
  background-color: rgb(106, 173, 250);
  padding: 12px;
  border-left: 4px solid rgb(43, 129, 228);
  font-size: 16px;
  min-width: 200px;
  border-radius: 12px;
  text-align: center;
}

li:hover {
  background-color: rgb(43, 129, 228);
  transform: translateX(5px);
  transition: all 0.5s ease;
}

contact h2 {
  margin-bottom: 30px;
  font-size: 25px;
  text-align: center;
  border-bottom: 1px solid rgb(43, 129, 228);
}

contact p {
  text-align: center;
  font-size: 18px;
}

contact a {
  color: rgb(43, 129, 228);
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: 2px solid rgb(43, 129, 228);
  border-radius: 25px;
  display: inline-block;
  transition: all 0.5s ease;
}

contact a:hover {
  background-color: rgb(43, 129, 228);
  color: white;
  transform: translateY(-2px);
}

footer {
  margin-top: 150px;
  background: #004a9f;
  background: linear-gradient(
    0deg,
    rgba(0, 74, 159, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  min-height: auto;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
}

.contato {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logos_numeros {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
}

.logos_numeros img {
  width: 30px;
}

.professor {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.professor img {
  width: 200px;
  border-radius: 47%;
  border: #012f64 dashed;
}
